* {
    margin: 0;
}

body {
    background: linear-gradient(90deg, rgb(68, 68, 231), 
    rgb(186, 238, 238));
    height: 100vh;
    -webkit-user-selectuser-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tetris{
    background-color: rgb(11, 11, 146);
    padding: 0.5vh;
    border-radius: 0.5vh;
    display: grid;
    grid-template-columns: repeat(11, auto);
    grid-template-rows: repeat(20, auto);
    /* margin: 100px; */
}
.tetris div{
    height: min(4vh, 7vh);
    width: min(4vh, 7vh);
    background-color: rgba(97, 75, 75, 0.205);
    border-radius: 0.3vh;
    box-shadow: inset 1px 1px 1px grey,
                inset 1px 1px 1px grey;
}

.tetris .O {
    background: yellow;
}

.tetris .L {
    background: green;
}
.tetris .T {
    background: rgb(41, 118, 148);
}
.tetris .J {
    background: rgb(197, 196, 144);
}
.tetris .S {
    background: rgb(175, 34, 194);
}
.tetris .Z {
    background: rgb(180, 34, 102);
}